@import "variables";

// Makes the @content apply to the given $breakpointName and wider.
@mixin media-breakpoint-up($breakpointName) {
	$width: map-get($breakpoints, $breakpointName);

	@if $width {
		@media (min-width: $width) {
			@content;
		}
	} @else {
		@error "Impossible to find breakpoint #{$breakpointName}";
	}
}

@mixin container() {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

	@each $breakpoint, $container-max-width in $container-max-widths {
		@include media-breakpoint-up($breakpoint) {
			width: $container-max-width;
			max-width: 100%;
		}
	}
}
