/// Values
$body-size: 16px !default;

/// Colors

// Brand colors
$dark-red: #83001f !default;
$red: #db3e14 !default;
$yellow: #ffbc31 !default;
$green: #6ab141 !default;
$dark-green: #00613a !default;

// typography
$black: #333 !default;
$gray: #888 !default;

// other colors
$blue: #347bff !default;
$lightgray: darken(white, 5%) !default;

$disabled-bg: $lightgray !default;
$disabled-fg: $gray !default;
$disabled-border: darken(white, 10%) !default;

$border-image-wtl: linear-gradient(to right, $dark-green 20%, $green 20%, $green 40%, $yellow 40%, $yellow 60%, $red 60%, $red 80%, $dark-red 80%) 6;

$card-bg: #f2f2f2 !default;

// global styles
$input-radius: 0.25rem !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

/// Breakpoints
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

$card-paddings: (
	xs: 0.5rem,
	sm: 1rem,
	md: 1.5rem,
	lg: 2rem,
	xl: 2.5rem
) !default;
