/// Colors

// Brand colors
$dark-red: #83001f;
$red: #db3e14;
$yellow: #ffbc31;
$green: #6ab141;
$dark-green: #00613a;

// typography
$black: #333;
$gray: #888;

// other colors
$blue: #347bff;
$lightgray: darken(white, 5%);

$disabled-bg: $lightgray;
$disabled-fg: $gray;

/// Breakpoints
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;
