@import "minireset";
@import "declarations";

html {
	color: $black;
	font-size: $body-size;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html,
body,
button,
input,
select,
textarea {
	font-family: "Open Sans", sans-serif;
}
