@import "normalize";
@import "declarations";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $black;
	font-family: "Open Sans", sans-serif;
}

ul,
ol {
	margin-left: 1.5rem;
}
